@font-face {
  font-family: 'FaktPro';
  src: url('FaktPro-Blond.eot'); /* IE9 Compat Modes */
  src: url('FaktPro-Blond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FaktPro-Blond.woff') format('woff'), /* Pretty Modern Browsers */
       url('FaktPro-Blond.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LeonardoFascia';
  src: url('leonardofascia-regular.eot'); /* IE9 Compat Modes */
  src: url('leonardofascia-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('leonardofascia-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('leonardofascia-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}