@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LeonardoFascia';
    src: url('../../static/fonts/leonardofascia-regular.eot');
    src: url('../../static/fonts/leonardofascia-regular.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/leonardofascia-regular.woff') format('woff'),
         url('../../static/fonts/leonardofascia-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "LeonardoFascia", 'sans-serif';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  font-weight: normal;
}

