.projects {
  display: grid;
  grid-template-columns: minmax(auto, 3fr) minmax(auto, 2fr) minmax(auto, 1fr) minmax(auto, 1fr);
}

.collapsable {
  transition: height .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dottedBorder {
  height: 1px;
  border-width: 0 0 0 0;
  background-size: 100% 1px;
  background: url("../../static/svg/dotted-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

