.projects th,
.projects td {
  padding-left: 10px;
  padding-right: 10px;
}

.projects th:first-child,
.projects td:first-child {
  padding-left: 3px;
}

.projects th:last-child,
.projects td:last-child {
  padding-right: 3px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto, 3);
}
.projects td {
  line-height: 3rem
}

.collapsable {
  transition: height .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dottedBorder {
  height: 1px;
  border-width: 0 0 0 0;
  background-size: 100% 1px;
  background: url("../../static/svg/dotted-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.circle {
  width: .75em;
  height: .75em;
  background-repeat: no-repeat;
  background-fit: contain;
  background-position: center;
  display: inline-block;
}

.circleLeft {
  background-image: url('../../static/svg/circle-left.svg');
}

.circleRight {
  background-image: url('../../static/svg/circle-right.svg')

}

.circleFull {
  background-image: url('../../static/svg/circle-full.svg')
}